$primaryColor: #3C556B;
$primaryText: #FFFFFF;

body{
	a{
		color: white;
	}
	background-color: #FFFFFF;
	color: $primaryText;
	text-shadow: 1px 1px 1px black;

	img{
	width: 100%;
	height: 75%;
	}
}
.title{
	text-shadow: 2px 2px 2px black
}

.mainCard{
	height: 40%;
	background-color: #303F9F;
	.resStuff, .projStuff, .iconStuff{
		background-color: #3F51B5;
		margin-top: -1vh;
	}
	.projTop{
		background-color: #3F51B5;
	}
}
.group{
	margin-top: -3vh;
	background-color: #3F51B5;
}
.Newgroup{
	min-height: 40vh;
	background-color: #3F51B5;
	margin-top: 3.2vh;
}

.levelGroup{
	margin-bottom: -3vh;
}
.groupTop{
	min-height: 40vh;
	background-color: #3F51B5;
}
.icon{
	margin-top: 10vh;
}

.side{
	width:85%
}
.topStuff{
	margin-top: 25%;
	
	a, p{
		font-size: 1.1em;
	}
}

#Suckit{
	margin-top: 4vh;
}

#emailStuff{
	margin-bottom: 3vh;
}


.gitHub{
	margin-top: 11vh;
	font-size: 1.1em;
}

.likeCon{
	margin-left: 10%;
	margin-top: 6%;
}
.iconStuff{
}

#phone{
	margin-bottom: 3vh;
}

.interest{
	height: 40.3vh;
}