$primaryColor: #3C556B;
$primaryText: #FFFFFF;

body{
	margin-top: 7vh;
	a{
		color: white;
	}
	background-color: #B6B6B6;
	color: $primaryText;
	text-shadow: 1px 1px 1px black;

	img{
	width: 100%;
	height: 75%;
	}
}
.title{
	text-shadow: 2px 2px 2px black
}

.projDesc{
	min-height: 9.85vh;
}

.mainCard{
	height: 80%;
	background-color: #303F9F;
	.resStuff, .projStuff, .iconStuff{
		background-color: #3F51B5;
		margin-top: -1vh;
	}
	.projTop{
		background-color: #3F51B5;
	}
}
.group{
	margin-top: -3vh;
	height: 37.6vh;
	background-color: #3F51B5;
}
.Newgroup{
	height: 43vh;
	background-color: #3F51B5;
	margin-top: 3vh;
	margin-bottom: -3vh;

}

.levelGroup{
	margin-bottom: -2.9vh;
	height: 36.6vh;
}
.groupTop{
	min-height: 40vh;
	background-color: #3F51B5;
}
.iconLevel{
	margin-top: 12vh;
}
.icon1{
	margin-top:5vh;
}

.side{
	width:85%
}
.topStuff{
	margin-top: 7%;
	
	a, p{
		font-size: 1.1em;
	}
}

#Suckit{
	margin-top: 4vh;
}



.github{
	height: 15vh;
}

.likeCon{
	margin-left: 10%;
	margin-top: 6%;
}
.iconStuff{
}

.icon2{
	margin-top: 13.5vh;	
}

.interest{
	height: 40.3vh;
}
.phone{
	margin-bottom: 1.2vh;
}
.iconGit{
	margin-bottom:5%;
}
.wooI{
	margin-top: 16%;
}

.meText{
	margin-top: 15%;
}

.stuffInterest{
	margin-top: 6%
}